body{
    background: radial-gradient(80% 40%, #3366ff,#6600cc);
}


.Tetris {
    outline:20px solid black !important;
}



.gameView{
    text-align: center;
    font-family: 'Bangers';
}



 #score{
    color:black;
    text-align: center;
    font-family: 'Bangers';
    font-size: 2rem;
}

.gameView canvas {
    margin: 0 auto;
    display:block;
    padding: 20px;
}
