body{
    background: radial-gradient(80% 40%, #3366ff,#6600cc);
}


.Tetris {
    outline:20px solid black !important;
}



.gameView{
    text-align: center;
    font-family: 'Bangers';
}



 #score{
    color:black;
    text-align: center;
    font-family: 'Bangers';
    font-size: 2rem;
}

.gameView canvas {
    margin: 0 auto;
    display:block;
    border: 2.5px solid black
}

.game-over {
    display: none;
    position: absolute;
    background: #6b1818;
    color: white;
    padding: 20px 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    animation: pop-in 1s;
    left: 38%;
    margin-top: 10%;
  }
  
  .btn {
    border: 2px solid #36bbf5;
    border-radius: 3px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.15);
    background: linear-gradient(
      to bottom,
      #fff 0%,
      #fff 49%,
      #f5f5f5 50%,
      #eee 100%
    );
    padding: 10px 40px;
    font: 14px 'Bangers';
  }

  .wrap {
    display: flex;
    flex-direction: column;
    height: -120%;
  }

  span{
    color:black;
    text-align: center;
    font-family: 'Bangers';
    font-size: 2rem;
  }